#admin-view-archived-courses {
    color: $primary;
    margin: 0 1.5rem !important;

    .courses {
        color: $primary;
        font-family: $helvetica;

        &:hover {
            text-decoration: underline;
        };
    };

    table {
        font-family: $helvetica;
        width: 100%;
        border-collapse: collapse;
        border-radius: 12px;
        overflow: hidden;

        th, td {
            padding: 0.625rem 1rem !important;
            border-bottom: 1px solid $secondary;
            font-size: 1rem;
        };

        th {
            background-color: $primary;
            color: white;
        };

        tr:hover {
            background-color: rgba($secondary, 0.5);
        };

        a { 
            font-size: 0.825rem;
            background-color: white;
            color: $primary;
            padding: 0.25rem 0.5rem !important;
            border-radius: 12px;
            border: 1px solid rgba($primary, 0.5);
            transition: 200ms ease-in-out;

            &:hover {
                color: white;
                background-color: rgba($primary, 1);
                border: 1px solid rgba($primary, 1);
            };
        };
    };
};