header {
    position: relative;
    background-color: white;
    padding: 0 1.5rem !important;
    height: calc(100vh - 4rem);
    z-index: 0;

    .hero-image {
        position: relative;

        .circle {
            width: 100vw;
            height: 90vw;
            top: -3rem;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            position: absolute;
            background-color: $secondary;
            z-index: -1;
        };

        img {
            height: 12.5rem;
            width: auto;
            position: relative;
            z-index: 1;
        };
    };

    .hero-text {
        color: $primary;
        margin: 7.5rem 0 !important;
        word-break: break-word;

        h1 {
            font-family: $overpass;
            font-size: 2.95rem;
        };

        p {
            font-family: $helvetica;
            font-size: 1.5rem;
            line-height: 1.75rem;
        };

        a {
            font-family: $helvetica;
            color: white;
            padding: 0.5rem 0.75rem !important;
            background-color: $primary;
            border-radius: 12px;
            min-width: 8rem;
            max-width: 10rem;
            transition: 200ms ease-in-out;

            &:hover {
                background-color: $footer;
            };
        };
    };
};