#sign-up {
    background: $secondary;
    height: calc(100vh - 4rem);
    position: relative;
    z-index: 0;
    overflow: hidden;

    form {
        width: calc(100vw - 3rem);
        color: $primary;
        z-index: 1;

        .form-group {
            font-family: $helvetica;

            input {
                border: none;
                width: 80%;
                height: 2.5rem;
                background-color: rgba(255, 255, 255, 0.65);
                border-radius: 12px;
                word-break: break-word;
                padding-left: 1rem !important;
                color: $primary;
                outline: white;

                &:-webkit-autofill {
                    box-shadow:0 0 0 50px rgba(255, 255, 255, 0.65) inset;
                    -webkit-box-shadow:0 0 0 50px rgba(255, 255, 255, 0.65) inset;
                    -webkit-text-fill-color: $primary;
                };
            };

            ::placeholder {
                color: $primary;
                opacity: 0.5;
            };

            .button {
                font-size: 1rem;
            };
        };
    };

    .shape-1, .shape-2, .shape-3 {
        position: absolute;
        z-index: -1;
    };

    .shape-1 {
        width: 25rem;
        height: auto;
        transform: rotate(-35deg);
        top: -8.5rem;
        right: -10rem;
        animation: float1 3s ease-in-out infinite;
    };

    .shape-2 {
        width: 20rem;
        height: auto;
        transform: rotate(-20deg);
        bottom: -3rem;
        right: -8rem;
        animation: float2 3s ease-in-out infinite;
    };

    .shape-3 {
        width: 20rem;
        height: auto;
        transform: rotate(-30deg);
        top: 12.5rem;
        left: -10rem;
        animation: float3 3s ease-in-out infinite;
    };
};

// Float animations
@keyframes float1 {

    from {
        top: -15rem;
    };

    50% {
        top: -5rem;
    };

    100% {
        top: -15rem;
    };
};

@keyframes float2 {

    from {
        bottom: -15rem;
    };

    50% {
        bottom: -25rem;
    };

    100% {
        bottom: -15rem;
    };
};

@keyframes float3 {

    from {
        top: 7.5rem;
    };

    50% {
        top: 15rem;
    };

    100% {
        top: 7.5rem;
    };
};