@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800;900&display=swap");
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

html, * {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

h1 {
  font-family: "Overpass", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #1A4FD6;
  color: white;
  padding: 0.25rem 1rem !important;
  border-radius: 16px;
  border: none;
}

.button:active {
  background-color: #232D95;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

header {
  position: relative;
  background-color: white;
  padding: 0 1.5rem !important;
  height: calc(100vh - 4rem);
  z-index: 0;
}

header .hero-image {
  position: relative;
}

header .hero-image .circle {
  width: 100vw;
  height: 90vw;
  top: -3rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  background-color: #DFE8FF;
  z-index: -1;
}

header .hero-image img {
  height: 12.5rem;
  width: auto;
  position: relative;
  z-index: 1;
}

header .hero-text {
  color: #1A4FD6;
  margin: 7.5rem 0 !important;
  word-break: break-word;
}

header .hero-text h1 {
  font-family: "Overpass", "Arial", sans-serif;
  font-size: 2.95rem;
}

header .hero-text p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

header .hero-text a {
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  padding: 0.5rem 0.75rem !important;
  background-color: #1A4FD6;
  border-radius: 12px;
  min-width: 8rem;
  max-width: 10rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

header .hero-text a:hover {
  background-color: #232D95;
}

#sign-up {
  background: #DFE8FF;
  height: calc(100vh - 4rem);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#sign-up form {
  width: calc(100vw - 3rem);
  color: #1A4FD6;
  z-index: 1;
}

#sign-up form .form-group {
  font-family: "Helvetica", "Arial", sans-serif;
}

#sign-up form .form-group input {
  border: none;
  width: 80%;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 12px;
  word-break: break-word;
  padding-left: 1rem !important;
  color: #1A4FD6;
  outline: white;
}

#sign-up form .form-group input:-webkit-autofill {
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-text-fill-color: #1A4FD6;
}

#sign-up form .form-group ::-webkit-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#sign-up form .form-group :-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#sign-up form .form-group ::-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#sign-up form .form-group ::placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#sign-up form .form-group .button {
  font-size: 1rem;
}

#sign-up .shape-1, #sign-up .shape-2, #sign-up .shape-3 {
  position: absolute;
  z-index: -1;
}

#sign-up .shape-1 {
  width: 25rem;
  height: auto;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  top: -8.5rem;
  right: -10rem;
  -webkit-animation: float1 3s ease-in-out infinite;
          animation: float1 3s ease-in-out infinite;
}

#sign-up .shape-2 {
  width: 20rem;
  height: auto;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  bottom: -3rem;
  right: -8rem;
  -webkit-animation: float2 3s ease-in-out infinite;
          animation: float2 3s ease-in-out infinite;
}

#sign-up .shape-3 {
  width: 20rem;
  height: auto;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 12.5rem;
  left: -10rem;
  -webkit-animation: float3 3s ease-in-out infinite;
          animation: float3 3s ease-in-out infinite;
}

@-webkit-keyframes float1 {
  from {
    top: -15rem;
  }
  50% {
    top: -5rem;
  }
  100% {
    top: -15rem;
  }
}

@keyframes float1 {
  from {
    top: -15rem;
  }
  50% {
    top: -5rem;
  }
  100% {
    top: -15rem;
  }
}

@-webkit-keyframes float2 {
  from {
    bottom: -15rem;
  }
  50% {
    bottom: -25rem;
  }
  100% {
    bottom: -15rem;
  }
}

@keyframes float2 {
  from {
    bottom: -15rem;
  }
  50% {
    bottom: -25rem;
  }
  100% {
    bottom: -15rem;
  }
}

@-webkit-keyframes float3 {
  from {
    top: 7.5rem;
  }
  50% {
    top: 15rem;
  }
  100% {
    top: 7.5rem;
  }
}

@keyframes float3 {
  from {
    top: 7.5rem;
  }
  50% {
    top: 15rem;
  }
  100% {
    top: 7.5rem;
  }
}

.login {
  background: #DFE8FF;
  height: 100vh;
}

.login form {
  width: 90vw;
  color: #1A4FD6;
}

.login form .form-group {
  font-family: "Helvetica", "Arial", sans-serif;
}

.login form .form-group input {
  border: none;
  width: 80%;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 12px;
  word-break: break-word;
  padding-left: 1rem !important;
  color: #1A4FD6;
  outline: white;
}

.login form .form-group input:-webkit-autofill {
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-text-fill-color: #1A4FD6;
}

.login form .form-group ::-webkit-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

.login form .form-group :-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

.login form .form-group ::-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

.login form .form-group ::placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

.login form .form-group .button {
  font-size: 1rem;
}

#admin-dashboard {
  position: relative;
  padding: 0 1.5rem !important;
  color: #1A4FD6;
}

#admin-dashboard h1 {
  font-family: "Overpass", "Arial", sans-serif;
}

#admin-dashboard .box .stats {
  height: 7.5rem;
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-dashboard .box .users-card {
  background-color: #232D95;
}

#admin-dashboard .box .users-card p {
  color: white;
}

#admin-dashboard .box .courses-card {
  background-color: #1A4FD6;
}

#admin-dashboard .box .courses-card p {
  color: white;
}

#admin-dashboard .box .admin-card {
  background-color: white;
}

#admin-dashboard .box .count {
  font-size: 5rem;
}

#admin-dashboard .box .label {
  font-size: 2rem;
}

#admin-dashboard .admin-functions h2 {
  font-family: "Overpass", "Arial", sans-serif;
}

#admin-dashboard .admin-functions__buttons a {
  background-color: #1A4FD6;
  color: white;
  height: 3rem;
  line-height: 3rem;
  border-radius: 12px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-dashboard .admin-functions__buttons a:hover {
  background-color: #232D95;
}

#admin-view-user {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-user .users:hover {
  text-decoration: underline;
}

#admin-view-user .user-details {
  margin-top: 7.5rem !important;
}

#admin-view-user .user-details .profile-img {
  position: relative;
  top: -8rem;
  margin-bottom: -8rem !important;
  width: 10rem;
  height: auto;
  border-radius: 50%;
  border: 4px solid #DFE8FF;
}

#admin-view-user .user-details p {
  font-size: 1.25rem;
}

#admin-view-user .user-details a {
  color: white;
  background-color: #1A4FD6;
  padding: 0.25rem 0.75rem !important;
  border-radius: 1rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-user .user-details a:hover {
  color: white;
  background-color: #232D95;
}

#admin-view-users {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-users .dashboard {
  color: #1A4FD6;
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-view-users .dashboard:hover {
  text-decoration: underline;
}

#admin-view-users table {
  font-family: "Helvetica", "Arial", sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

#admin-view-users table th, #admin-view-users table td {
  padding: 0.625rem 1rem !important;
  border-bottom: 1px solid #DFE8FF;
  font-size: 1rem;
}

#admin-view-users table th {
  background-color: #1A4FD6;
  color: white;
}

#admin-view-users table tr:hover {
  background-color: rgba(223, 232, 255, 0.5);
}

#admin-view-users table a {
  font-size: 0.825rem;
  background-color: white;
  color: #1A4FD6;
  padding: 0.25rem 0.5rem !important;
  border-radius: 12px;
  border: 1px solid rgba(26, 79, 214, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-users table a:hover {
  color: white;
  background-color: #1a4fd6;
  border: 1px solid #1a4fd6;
}

#admin-create-course {
  background: #DFE8FF;
}

#admin-create-course form {
  width: 90vw;
  color: #1A4FD6;
}

#admin-create-course form .form-group {
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-create-course form .form-group input {
  border: none;
  width: 80%;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 12px;
  word-break: break-word;
  padding-left: 1rem !important;
  color: #1A4FD6;
  outline: white;
}

#admin-create-course form .form-group input:-webkit-autofill {
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-text-fill-color: #1A4FD6;
}

#admin-create-course form .form-group ::-webkit-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-create-course form .form-group :-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-create-course form .form-group ::-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-create-course form .form-group ::placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-create-course form .form-group .button {
  font-size: 1rem;
}

#admin-view-course {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-course .courses {
  color: #1A4FD6;
}

#admin-view-course .courses:hover {
  text-decoration: underline;
}

#admin-view-course .course-details p {
  font-size: 1.25rem;
}

#admin-view-course .course-details a {
  color: white;
  background-color: #1A4FD6;
  padding: 0.25rem 0.75rem !important;
  border-radius: 1rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-course .course-details a:hover {
  color: white;
  background-color: #232D95;
}

#admin-view-courses {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-courses .create-course {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #1A4FD6;
  color: white;
  padding: 0.5rem 0.75rem !important;
  border-radius: 1rem;
  border: 1px solid rgba(26, 79, 214, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-courses .create-course:hover {
  background-color: #232D95;
}

#admin-view-courses .dashboard {
  color: #1A4FD6;
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-view-courses .dashboard:hover {
  text-decoration: underline;
}

#admin-view-courses table {
  font-family: "Helvetica", "Arial", sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

#admin-view-courses table th, #admin-view-courses table td {
  padding: 0.625rem 1rem !important;
  border-bottom: 1px solid #DFE8FF;
  font-size: 1rem;
}

#admin-view-courses table th {
  background-color: #1A4FD6;
  color: white;
}

#admin-view-courses table tr:hover {
  background-color: rgba(223, 232, 255, 0.5);
}

#admin-view-courses table a {
  font-size: 0.825rem;
  background-color: white;
  color: #1A4FD6;
  padding: 0.25rem 0.5rem !important;
  border-radius: 12px;
  border: 1px solid rgba(26, 79, 214, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-courses table a:hover {
  color: white;
  background-color: #1a4fd6;
  border: 1px solid #1a4fd6;
}

#admin-view-archived-course {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-archived-course .courses {
  color: #1A4FD6;
}

#admin-view-archived-course .courses:hover {
  text-decoration: underline;
}

#admin-view-archived-course .course-details p {
  font-size: 1.25rem;
}

#admin-view-archived-course .course-details a {
  color: white;
  background-color: #1A4FD6;
  padding: 0.25rem 0.75rem !important;
  border-radius: 1rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-archived-course .course-details a:hover {
  color: white;
  background-color: #232D95;
}

#admin-view-archived-courses {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-archived-courses .courses {
  color: #1A4FD6;
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-view-archived-courses .courses:hover {
  text-decoration: underline;
}

#admin-view-archived-courses table {
  font-family: "Helvetica", "Arial", sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

#admin-view-archived-courses table th, #admin-view-archived-courses table td {
  padding: 0.625rem 1rem !important;
  border-bottom: 1px solid #DFE8FF;
  font-size: 1rem;
}

#admin-view-archived-courses table th {
  background-color: #1A4FD6;
  color: white;
}

#admin-view-archived-courses table tr:hover {
  background-color: rgba(223, 232, 255, 0.5);
}

#admin-view-archived-courses table a {
  font-size: 0.825rem;
  background-color: white;
  color: #1A4FD6;
  padding: 0.25rem 0.5rem !important;
  border-radius: 12px;
  border: 1px solid rgba(26, 79, 214, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-archived-courses table a:hover {
  color: white;
  background-color: #1a4fd6;
  border: 1px solid #1a4fd6;
}

#admin-edit-course {
  background: #DFE8FF;
}

#admin-edit-course form {
  width: 90vw;
  color: #1A4FD6;
}

#admin-edit-course form .form-group {
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-edit-course form .form-group input, #admin-edit-course form .form-group textarea {
  border: none;
  width: 80%;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 12px;
  word-break: break-word;
  padding: 0 1rem !important;
  color: #1A4FD6;
  outline: white;
}

#admin-edit-course form .form-group input:-webkit-autofill, #admin-edit-course form .form-group textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.65) inset;
  -webkit-text-fill-color: #1A4FD6;
}

#admin-edit-course form .form-group textarea {
  padding-top: 0.5rem !important;
  resize: none;
  min-height: 6rem;
  max-height: 6rem;
}

#admin-edit-course form .form-group ::-webkit-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-edit-course form .form-group :-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-edit-course form .form-group ::-ms-input-placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-edit-course form .form-group ::placeholder {
  color: #1A4FD6;
  opacity: 0.5;
}

#admin-edit-course form .form-group .button {
  font-size: 1rem;
}

#admin-view-orders {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#admin-view-orders .dashboard {
  color: #1A4FD6;
  font-family: "Helvetica", "Arial", sans-serif;
}

#admin-view-orders .dashboard:hover {
  text-decoration: underline;
}

#admin-view-orders table {
  font-family: "Helvetica", "Arial", sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

#admin-view-orders table th, #admin-view-orders table td {
  padding: 0.625rem 1rem !important;
  border-bottom: 1px solid #DFE8FF;
  font-size: 1rem;
}

#admin-view-orders table th {
  background-color: #1A4FD6;
  color: white;
}

#admin-view-orders table tr:hover {
  background-color: rgba(223, 232, 255, 0.5);
}

#admin-view-orders table a {
  font-size: 0.825rem;
  background-color: white;
  color: #1A4FD6;
  padding: 0.25rem 0.5rem !important;
  border-radius: 12px;
  border: 1px solid rgba(26, 79, 214, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#admin-view-orders table a:hover {
  color: white;
  background-color: #1a4fd6;
  border: 1px solid #1a4fd6;
}

#view-courses {
  color: #1A4FD6;
  padding: 0 1.5rem !important;
}

#view-courses h1 {
  font-family: "Overpass", "Arial", sans-serif;
}

#view-courses .course-card {
  background-color: white;
}

#view-courses .course-card .course-img {
  border-radius: 6px;
}

#view-courses .course-card .course-name {
  font-size: 1.5rem;
}

#view-courses .course-card .course-category, #view-courses .course-card .course-price {
  font-size: 1.125rem;
}

#view-courses .course-card a {
  color: white;
  background-color: #1A4FD6;
  padding: 0.5rem 0.75rem !important;
  border-radius: 6px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#view-courses .course-card a:hover {
  background-color: #232D95;
}

#view-course {
  color: #1A4FD6;
  margin: 0 1.5rem !important;
}

#view-course .courses {
  color: #1A4FD6;
}

#view-course .courses:hover {
  text-decoration: underline;
}

#view-course .course-details p {
  font-size: 1.25rem;
}

#view-course .course-details a {
  color: white;
  background-color: #1A4FD6;
  padding: 0.25rem 0.75rem !important;
  border-radius: 1rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#view-course .course-details a:hover {
  color: white;
  background-color: #232D95;
}

#user-view-cart {
  color: #1A4FD6;
  padding: 0 1.5rem !important;
  font-family: "Overpass", "Arial", sans-serif;
}

#user-view-cart .cart .cart-item {
  border-bottom: 1px solid #DFE8FF;
}

#user-view-cart .cart .cart-item:hover {
  background-color: rgba(223, 232, 255, 0.5);
}

#user-view-cart .cart .cart-item .item-details .item-name {
  font-size: 1rem;
}

#user-view-cart .cart .cart-item .item-details .item-price {
  font-size: 1rem;
}

#user-view-cart .cart .cart-item .item-details .item-added-on {
  color: rgba(35, 45, 149, 0.65);
  font-size: 0.625rem;
  font-style: italic;
}

#user-view-cart .cart .cart-item .item-details button {
  border: none;
  background: none;
}

#user-view-cart .cart .cart-item .item-details button img {
  opacity: 0.25;
  width: 1.75rem;
  height: auto;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#user-view-cart .cart .cart-item .item-details button img:hover {
  cursor: pointer;
  opacity: 1;
}

#user-view-cart .cart .cart-item .item-details .product-img {
  display: none !important;
}

#user-view-cart .cart .back-to-courses {
  color: #1A4FD6;
  font-size: 0.825rem;
}

#user-view-cart .cart .back-to-courses:hover {
  text-decoration: underline;
}

#user-view-cart .cart .total-price-container .total {
  font-size: 0.825rem;
}

#user-view-cart .cart .total-price-container .total-price {
  font-size: 1.125rem;
}

#user-view-cart .checkout-btn {
  color: white;
  background-color: #1A4FD6;
  padding: 1rem 0 !important;
  border-radius: 6px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#user-view-cart .checkout-btn:hover {
  cursor: pointer;
  background-color: #232D95;
}

#view-profile {
  color: #1A4FD6;
  padding: 0 1.5rem !important;
  font-family: "Helvetica", "Arial", sans-serif;
}

#view-profile h1 {
  font-family: "Overpass", "Arial", sans-serif;
}

#view-profile .user-details {
  margin-top: 5rem !important;
}

#view-profile .user-details .profile-img {
  position: relative;
  top: -8rem;
  margin-bottom: -8rem !important;
  width: 10rem;
  height: auto;
  border-radius: 50%;
  border: 4px solid #DFE8FF;
}

#view-profile .user-details #user-name {
  font-size: 1.5rem;
}

#view-profile .user-details #user-email, #view-profile .user-details #user-mobile {
  color: rgba(26, 79, 214, 0.75);
}

#view-profile .user-details #user-mobile {
  border-bottom: 1px solid #DFE8FF;
}

#view-profile .order-history .order {
  background-color: rgba(223, 232, 255, 0.4);
  width: 85%;
  border-radius: 10px;
}

#view-profile .order-history .order .order-detail .order-property {
  font-family: "Overpass", "Arial", sans-serif;
  font-size: 0.85rem;
  color: rgba(26, 79, 214, 0.65);
}

#hero-banner {
  color: #1A4FD6;
  position: relative;
  padding: 5rem 1.5rem !important;
  background-color: #DFE8FF;
}

#hero-banner h1 {
  font-family: "Overpass", "Arial", sans-serif;
}

#hero-banner #banner-card {
  padding: 3rem !important;
}

#hero-banner #banner-card .banner-links {
  font-family: "Helvetica", "Arial", sans-serif;
}

#hero-banner #banner-card .banner-links .add-course, #hero-banner #banner-card .banner-links .my-courses {
  padding: 0.35rem 0.5rem !important;
  border-radius: 1rem;
}

#hero-banner #banner-card .banner-links .my-courses {
  color: white;
  background-color: #1A4FD6;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#hero-banner #banner-card .banner-links .my-courses:hover {
  background-color: #232D95;
}

#hero-banner #banner-card .banner-links .add-course {
  color: #1A4FD6;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #1A4FD6;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#hero-banner #banner-card .banner-links .add-course:hover {
  color: white;
  background-color: #232D95;
}

nav {
  position: relative;
  background-color: white;
  height: 4rem;
  box-shadow: 0 0 20px 0 rgba(109, 141, 173, 0.25), 0 0 40px 40px rgba(109, 141, 173, 0.05);
  -webkit-box-shadow: 0 0 20px 0 rgba(109, 141, 173, 0.25), 0 0 40px 40px rgba(109, 141, 173, 0.05);
  z-index: 100;
}

nav .box .logo {
  line-height: 4rem;
}

nav .box .logo a {
  font-family: "Overpass", "Arial", sans-serif;
  font-size: 1.55rem;
  color: #1A4FD6;
}

nav .box .menu-btn {
  position: relative;
  left: -1.5rem;
  top: 0.55rem;
}

nav .box .menu-btn span {
  top: 12px;
  position: absolute;
  width: 0.75rem;
  height: 3px;
  border-radius: 10px;
  background-color: #1A4FD6;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

nav .box .menu-btn span::before, nav .box .menu-btn span::after {
  position: absolute;
  content: "";
  top: 8px;
  width: 1.5rem;
  height: 3px;
  border-radius: 10px;
  background-color: #1A4FD6;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

nav .box .menu-btn span::after {
  top: 1rem;
  width: 1.5rem;
}

nav .box .menu-btn__active span {
  width: 0;
}

nav .box .menu-btn__active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .box .menu-btn__active span::after {
  top: 0.5rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .box .menu-btn .mobile-menu {
  position: fixed;
  top: 5rem;
  left: -50rem;
  height: auto;
  width: calc(100vw - 3rem);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 4px 24px 60px 0 rgba(109, 141, 173, 0.25);
  -webkit-box-shadow: 4px 24px 60px 0 rgba(109, 141, 173, 0.25);
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

nav .box .menu-btn .mobile-menu__active {
  left: 1.5rem;
  opacity: 100;
}

nav .box .menu-btn .mobile-menu a {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #1A4FD6;
  font-size: 1.25rem;
}

nav .box .nav-links {
  margin: auto 0rem !important;
}

nav .box .nav-links a {
  color: #1A4FD6;
}

nav .box .nav-links #courses {
  border-right: 1.5px solid #1A4FD6;
  padding-right: 1.5rem !important;
  margin: 0 !important;
}

nav .box .nav-links #courses .caret {
  padding-left: 0.25rem !important;
  width: 1rem;
  height: auto;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

nav .box .nav-links #courses:hover .caret {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

nav .box .nav-links #session, nav .box .nav-links #view-cart,
nav .box .nav-links #admin {
  padding-left: 1rem !important;
}

nav .box .nav-links #register {
  font-size: 0.9rem;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  padding: 0.5rem 0.75rem !important;
  margin-left: 1rem !important;
  background-color: #1A4FD6;
  border-radius: 12px;
  min-width: 8rem;
  max-width: 10rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

nav .box .nav-links #register:hover {
  background-color: #232D95;
}

nav .box .nav-links #profile {
  padding-left: 1rem !important;
}

.glass {
  backdrop-filter: blur(7.5px) saturate(180%);
  -webkit-backdrop-filter: blur(7.5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  box-shadow: 4px 24px 60px 0 rgba(109, 141, 173, 0.25);
  -webkit-box-shadow: 4px 24px 60px 0 rgba(109, 141, 173, 0.25);
}

@media only screen and (min-width: 576px) {
  #view-courses .course-card {
    width: 48%;
  }
}

@media only screen and (min-width: 768px) {
  nav .box {
    padding: 0 2rem !important;
  }
  header {
    margin: 0 3.5rem !important;
    padding: 3rem 0 !important;
    overflow: initial;
  }
  header .hero-image .circle {
    width: calc(100% + 3rem);
    height: calc(100% + 6rem);
    top: -3rem;
    right: -3.5rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0;
    position: absolute;
    background-color: #DFE8FF;
    z-index: -1;
  }
  header .hero-image img {
    height: 13.5rem;
    right: -2.5rem;
  }
  header .hero-text {
    margin: 0 !important;
  }
  header .hero-text h1 {
    font-size: 3.25rem;
  }
  header .hero-text p {
    font-size: 1.5rem;
    max-width: 80%;
  }
  #sign-up form, .login form,
  #admin-create-course form, #admin-edit-course form {
    width: 60%;
  }
  #admin-dashboard,
  #admin-view-users, #admin-view-user,
  #admin-view-courses, #admin-view-course,
  #admin-view-archived-course,
  #admin-view-archived-courses,
  #admin-view-orders, #view-courses,
  #view-course, #view-profile {
    margin: 0 3.5rem !important;
    padding: 0 !important;
  }
  #hero-banner {
    padding: 5rem 3.5rem !important;
  }
  #hero-banner h1 {
    font-size: 4rem;
  }
  #hero-banner #banner-card .banner-links .add-course, #hero-banner #banner-card .banner-links .my-courses {
    font-size: 1.25rem;
    padding: 0.35rem 0.75rem !important;
  }
  #user-view-cart {
    width: 70%;
    margin: 0 auto !important;
  }
  #user-view-cart .cart .back-to-courses {
    color: #1A4FD6;
    font-size: 1rem;
  }
  #user-view-cart .cart .cart-item .item-details .product-img {
    display: initial !important;
    height: 2.75rem;
    width: auto;
    opacity: 1;
  }
  #admin-dashboard .box .stats {
    width: 30%;
  }
  #view-courses .course-card {
    width: 31%;
  }
}

@media only screen and (min-width: 1024px) {
  nav .box {
    padding: 0 3.5rem !important;
  }
  header {
    margin: 0 5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .row .hero-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .row .hero-text h1 {
    font-size: 4rem;
  }
  header .row .hero-text p {
    max-width: 70%;
  }
  header .row .hero-image .circle {
    min-width: calc(100% + 7.5rem);
    min-height: calc(100vh - 4rem);
    right: -5rem;
  }
  header .row .hero-image img {
    height: 20rem;
  }
  #sign-up form, .login form,
  #admin-create-course form, #admin-edit-course form {
    width: 50%;
  }
  #admin-dashboard, #admin-view-users,
  #admin-view-user, #admin-view-courses,
  #admin-view-archived-course,
  #admin-view-archived-courses,
  #admin-view-orders, #admin-view-course,
  #view-courses, #view-course, #view-profile {
    margin: 0 5rem !important;
  }
  #hero-banner {
    padding: 7.5rem 5rem !important;
  }
  #hero-banner h1 {
    font-size: 5rem;
  }
  #view-profile .user-details, #view-profile .course-details, #admin-view-user .user-details, #admin-view-user .course-details,
  #view-course .user-details,
  #view-course .course-details {
    margin: 5rem auto !important;
    width: 65%;
  }
  #view-courses .course-card {
    width: 23%;
  }
}

@media only screen and (min-width: 1280px) {
  nav .box {
    padding: 0 6rem !important;
  }
  header {
    margin: 0 7.5rem !important;
  }
  header .row .hero-text h1 {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  header .row .hero-text p {
    font-size: 1.75rem;
    line-height: 2.25rem;
    max-width: 60%;
  }
  header .row .hero-text a {
    font-size: 1.25rem;
  }
  header .row .hero-image .circle {
    min-width: calc(100% + 7.5rem);
    min-height: calc(100vh - 4rem);
    right: -7.5rem;
  }
  header .row .hero-image img {
    height: 25rem;
  }
  #sign-up form, .login form,
  #admin-create-course form, #admin-edit-course form {
    width: 40%;
  }
  #admin-dashboard, #admin-view-users,
  #admin-view-user, #admin-view-courses,
  #admin-view-archived-course,
  #admin-view-archived-courses,
  #admin-view-orders, #admin-view-course,
  #view-courses, #view-course, #view-profile {
    margin: 0 7.5rem !important;
  }
  #hero-banner {
    padding: 6rem 7.5rem !important;
    height: calc(100vh - 4rem);
  }
  #hero-banner h1 {
    font-size: 6rem;
  }
  #hero-banner #banner-card .banner-links .add-course, #hero-banner #banner-card .banner-links .my-courses {
    font-size: 1.25rem;
    padding: 0.35rem 0.75rem !important;
  }
  #view-profile .user-details, #view-profile .course-details, #admin-view-user .user-details, #admin-view-user .course-details,
  #view-course .user-details,
  #view-course .course-details {
    margin: 5rem auto !important;
    width: 50%;
  }
  #user-view-cart {
    padding: 0 7.5rem !important;
  }
}

@media only screen and (min-width: 1440px) {
  nav .box {
    padding: 0 10rem !important;
  }
  header {
    margin: 0 11.5rem !important;
  }
  header .row .hero-image .circle {
    min-width: calc(100% + 11.5rem);
    min-height: calc(100vh - 4rem);
    right: -11.5rem;
  }
  #sign-up form, .login form,
  #admin-create-course form, #admin-edit-course form {
    width: 30%;
  }
  #admin-dashboard, #admin-view-users,
  #admin-view-user, #admin-view-courses,
  #admin-view-archived-course,
  #admin-view-archived-courses,
  #admin-view-orders, #admin-view-course,
  #view-courses, #view-course, #view-profile {
    margin: 0 11.5rem !important;
  }
  #hero-banner {
    padding: 5rem 11.5rem !important;
  }
  #user-view-cart {
    padding: 0 11.5rem !important;
  }
}

@media only screen and (min-width: 1920px) {
  nav .box {
    padding: 0 15rem !important;
  }
  header {
    margin: 0 16.5rem !important;
  }
  header .row .hero-text h1 {
    font-size: 7rem;
    line-height: 7rem;
  }
  header .row .hero-text p {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  header .row .hero-text a {
    font-size: 1.75rem;
    max-width: 11.5rem;
  }
  header .row .hero-image .circle {
    min-width: calc(100% + 16.5rem);
    min-height: calc(100vh - 4rem);
    right: -16.5rem;
  }
  header .row .hero-image img {
    height: 30rem;
  }
  #admin-dashboard, #admin-view-users,
  #admin-view-user, #admin-view-courses,
  #admin-view-archived-course,
  #admin-view-archived-courses,
  #admin-view-orders, #admin-view-course,
  #view-courses, #view-course, #view-profile {
    margin: 0 16.5rem !important;
  }
  #hero-banner {
    padding: 12.5rem 16.5rem !important;
  }
  #hero-banner h1 {
    font-size: 7.5rem;
  }
  #hero-banner #banner-card .banner-links .add-course, #hero-banner #banner-card .banner-links .my-courses {
    font-size: 1.25rem;
    padding: 0.35rem 0.75rem !important;
  }
  #view-profile .user-details, #view-profile .course-details, #admin-view-user .user-details, #admin-view-user .course-details,
  #view-course .user-details,
  #view-course .course-details {
    margin: 5rem auto !important;
    width: 40%;
  }
  #user-view-cart {
    padding: 0 16.5rem !important;
  }
  #sign-up .shape-1 {
    width: 40rem;
    height: auto;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    top: -13.5rem;
    right: -10rem;
  }
  #sign-up .shape-2 {
    width: 40rem;
    height: auto;
    -webkit-transform: rotate(-2000deg);
            transform: rotate(-2000deg);
    bottom: -15rem;
    right: -8rem;
  }
  #sign-up .shape-3 {
    width: 40rem;
    height: auto;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    top: 7.5rem;
    left: -12.5rem;
  }
}
/*# sourceMappingURL=style.css.map */