.glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    box-shadow: 4px 24px 60px 0 rgba(#6d8dad, 0.25);
    -webkit-box-shadow: 4px 24px 60px 0 rgba(#6d8dad, 0.25);
};